* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #fcfcfc; }

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.employeeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .employeeList li {
    display: flex;
    width: 100%;
    align-items: center; }
    @media (min-width: 768px) {
      .employeeList li {
        width: 49.5%; } }
    @media (min-width: 1024px) {
      .employeeList li {
        width: 33%; } }

header .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
header form {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

header {
  height: 40%;
  min-height: 10em;
  text-align: center; }
  header .banner {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/office.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  header .searchContainer {
    width: 100%;
    max-width: 430px; }

.employeeSearchForm {
  width: 80%;
  border: 4px solid #fcfcfc;
  background-color: rgba(40, 47, 51, 0.3); }
  .employeeSearchForm input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 .5em;
    color: #fcfcfc; }
    .employeeSearchForm input:focus {
      outline: none; }
  .employeeSearchForm button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 2px; }
    .employeeSearchForm button:focus {
      outline: none; }
    .employeeSearchForm button svg {
      stroke: #fcfcfc; }

.wrapper {
  padding: 1em; }
  @media (min-width: 768px) {
    .wrapper {
      margin-top: 2em; } }
  @media (min-width: 1024px) {
    .wrapper {
      margin-top: 3em; } }

.employeeList {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .employeeList li {
    padding: .5em;
    margin-bottom: 2em; }
    @media (min-width: 1024px) {
      .employeeList li {
        margin-bottom: 3em; } }

.employee {
  cursor: pointer; }
  .employee h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background: rgba(201, 174, 104, 0);
    content: '';
    display: block;
    height: .55em;
    transition: .3s ease-in-out; }
  .employee:hover h3:after {
    background: rgba(201, 174, 104, 0.5); }

.employeeImage {
  width: 20%; }
  .employeeImage img {
    max-width: 128px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: grayscale(100%); }

.employeeInfo {
  width: 80%;
  padding: 0 0 0 1em; }
  @media (min-width: 1024px) {
    .employeeInfo {
      padding: 0 0 0 .5em; } }
  .employeeInfo h3 {
    display: inline-block;
    margin: 0;
    position: relative; }
  .employeeInfo span {
    word-wrap: break-word;
    display: block; }

body {
  color: #282f33;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Noto Serif", serif; }

header h1 {
  color: #fcfcfc;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400; }
header form input {
  color: #282f33;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Noto Serif", serif; }

.wrapper h3 {
  color: #282f33;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400; }
.wrapper span {
  font-size: .9em; }

#overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none; }

#modal {
  position: relative;
  background-color: #fcfcfc;
  border-radius: 3px;
  margin: 0 auto;
  top: 20%;
  width: 95%;
  max-width: 30em;
  text-align: center;
  padding: 2em; }
  #modal .employeeImage {
    margin: 0 auto;
    width: 100%; }
  #modal .employeeInfo {
    margin: 0 auto;
    padding: 0; }

.navigation {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  border: none;
  outline: none; }
  .navigation svg {
    stroke: rgba(40, 47, 51, 0.5);
    transition: .3s ease-in-out; }
  .navigation:hover svg {
    stroke: #282f33; }

#previous {
  left: 0;
  top: 45%; }

#next {
  right: 0;
  top: 45%; }

/*# sourceMappingURL=application.css.map */
