// ======================================
//  Utilities variables
// ======================================

// Colours
$color-light: #fcfcfc;
$color-dark: #282f33;
$color-accent: #C9AE68;

// Fonts
$font-stack-primary: 'Noto Serif', serif;
$font-stack-secondary: 'Ramabhadra', sans-serif;

// layout
$max-width: 1000px;

// Image
$round: 50%;

$br: 3px;

// Break points
$brk-mobile : 'min-width: 320px';
$brk-tablet : 'min-width: 768px';
$brk-desktop : 'min-width: 1024px';
