// ======================================
//  Components Containers
// ======================================
.wrapper {
    padding: 1em;
    @media ($brk-tablet) {
        margin-top: 2em;
    }
    @media ($brk-desktop) {
        margin-top: 3em;
    }
}

.employeeList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        padding: .5em;
        margin-bottom: 2em;
        @media ($brk-desktop) {
            margin-bottom: 3em;
        }
    }
}

.employee {
    cursor: pointer;
    & h3:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        background: rgba($color-accent, 0);
        content: '';
        display: block;
        height: .55em;
        transition: .3s ease-in-out;
    }
    &:hover h3:after {
        background: rgba($color-accent, .5);
    }
}

// Employee Images
.employeeImage {
    width: 20%;
    img {
        max-width: 128px;
        @include roundImage(100%);
        @include desaturate();
    }
}

// Employee Info
.employeeInfo {
    width: 80%;
    padding: 0 0 0 1em;
    @media ($brk-desktop) {
        padding: 0 0 0 .5em;
    }
    h3 {
        display: inline-block;
        margin: 0;
        position: relative;
    }
    span {
        word-wrap: break-word;
        display: block;
    }
    .username {
        display: none;
    }
}

// Additional info
.additionalInformation {
    display: none;
}
