// ======================================
//  Components Modal
// ======================================

#overlay {
    background: rgba(#000, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#modal {
    position: relative;
    background-color: $color-light;
    border-radius: $br;
    margin: 0 auto;
    top: 20%;
    width: 95%;
    max-width: 30em;
    text-align: center;
    padding: 2em;

    .employeeImage {
        margin: 0 auto;
        width: 100%;
    }

    .employeeInfo {
        margin: 0 auto;
        padding: 0;
    }

    .additionalInformation {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 1em;
        border-top: 1px solid rgba($color-dark, .1);
    }

    .username {
        display: block;
    }

}

.birthday:before {
    content: 'Birthday: '
}

.navigation {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    background-color: transparent;
    border: none;
    outline: none;
    svg {
        stroke: rgba($color-dark, .5);
        transition: .3s ease-in-out;

    }
    &:hover svg {
        stroke: rgba($color-dark, 1);
    }
}

#previous {
    left: 0;
    top: 45%;
}

#next {
    right: 0;
    top: 45%;
}
