// ======================================
//  Components Typography
// ======================================
body {
    @include standard();
}

header {
    h1 {
        @include bold($size: 1.8rem, $color: $color-light);
        font-weight: 400;
    }
    form input {
        @include standard();
    }
}

.wrapper {
    h3 {
        @include bold($size: 1.2em);
        font-weight: 400;
    }
    span {
        font-size: .9em;
    }
}

#modal {
    color: lighten($color-dark, 15%);

    h3 {
        @include bold($size: 1.4em);
        font-weight: 400;
    }

    .employeeInfo {
        font-size: .95em;
    }

    .additionalInformation {
        line-height: 2;
        font-size: .95em;
    }
}
